# Arquivos gerados pelo Build do Maven
/target/

# Arquivos de Log
*.log

# Arquivos de IDE
# IntelliJ
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# Arquivos do sistema operacional
# Mac
.DS_Store
# Windows
Thumbs.db

